body{
    background-color: cornflowerblue;
}

img {
    width: 100%;
    display: block;
}


div.title {
    font-family: "am-majella";
    font-size: 200px;
    line-height: 170px;
    color: floralwhite;
    margin-left: 200px;
    font-weight: bold;
}

div.blue {
    color: dodgerblue;
}

div.largefont {
    font-family: "am-majella";
    font-size: large;
}

div.contents {
    font-family: "futura-100";
    font-size: 21px;
    line-height: 25px;
    margin-left: 200px;
    color: antiquewhite;
    margin-top: 100px;
}

div.chapter {
    color: darkblue;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}


div.item {
    color: rgb(49, 70, 100);
}

div.width22 {
    width: 22%;
}

div.width33 {
    width: 33.333%;
}

div.width50 {
    width: 50%;
}

div.width66 {
    width: 66.666%;
}

