body{
    background-color: cornflowerblue;
}

img {
    width: 90%;
    display: block;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 80px;  
}

div.clock {
    background-color: black;
    color: antiquewhite;
    font-family: "am-majella";
    font-size: 30px;
    padding: 10px;
    position: fixed;
    top: 400px;
    left: 200px;
}

div.nav {
    position: fixed;
    top: 0px;
    font-family: "am-majella";
    left: 0px;
    color: floralwhite;
    background-color: cornflowerblue;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid floralwhite;
}

@keyframes fade{
    0%{
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}

div.title {
    font-family: "am-majella";
    font-size: 200px;
    line-height: 170px;
    color: floralwhite;
    margin-left: 200px;
    font-weight: bold;
    margin-top: 50px;

}

div.greenthing {
    margin-top: -30px;
    margin-right: 80px;
    width: 40%;

}

div.quote1 { 
    width: 50%;
    margin-top: 160px;
    color: floralwhite;
}

div.intro {
    font-size: 80px;
    font-family: "am-majella";
    line-height: 75px;
    font-weight: 100;
    margin-bottom: 50px;
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
} 


div.blue {
    color: dodgerblue;
}

div.largefont {
    font-family: "am-majella";
    font-size: large;
}



div.chapter {
    color: darkblue;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}


div.item {
    color: rgb(49, 70, 100);
}

div.width22 {
    width: 22%;
}

div.width33 {
    width: 33.333%;
}

div.width50 {
    width: 50%;
}

div.width66 {
    width: 66.666%;
}

